// Partial SCSS file containing color variables

// ============================================
// COLORS
// ============================================

// === LIGHT THEME ========================
$light: (
    1000: #000000,
    900: #2b2b2b,
    800: #383838,
    700: #525252,
    600: #646464,
    500: #7e7e7e,
    400: #9c9c9c,
    350: #aaaaaa,
    300: #b9b9b9,
    250: #cecece,
    200: #d6d6d6,
    150: #e4e4e4,
    100: #eeeeee, // main background
    50: #f7f7f7,
    0: #ffffff,

    kb-white: #e6e6e6,
    kb-white-highlight: #ffffff,
    kb-border: #525252,
    kb-flat: #383838,
    kb-flat-highlight: #555555,

    note-0: #fad94d,
    note-1: #ffb566,
    note-2: #ff9a85,
    note-3: #ff85a1,
    note-4: #f090f7,
    note-5: #d1a1ff,
    note-6: #b0b7ff,
    note-7: #9ec8ff,
    note-8: #7cd7f7,
    note-9: #85e6d3,
    note-10: #7fe3b1,
    note-11: #a4eb7a,
    note-0-highlight: #faedb1,
    note-1-highlight: #ffce99,
    note-2-highlight: #ffcabf,
    note-3-highlight: #ffb3c5,
    note-4-highlight: #f5cbf8,
    note-5-highlight: #e8cfff,
    note-6-highlight: #ced2ff,
    note-7-highlight: #d1e5ff,
    note-8-highlight: #b7ecff,
    note-9-highlight: #c6fff4,
    note-10-highlight: #a6ffd3,
    note-11-highlight: #dbffc7,
);

// === DARK THEME =========================
$dark: (
    
);