// Partial SCSS file containing global CSS styles

// === USE ====================================
@use 'variables' as *;

/* ============================================
GLOBAL
============================================ */

// temporary Google Fonts import
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1em;
}

:global {
    html, body {
        background-color: var(--clr-100);
    }
}

.button {
    // internal variables 
    --_clr: var(--clr-900);
    --_clr-background: var(--clr-100);
    --_clr-border: var(--clr-350);
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: var(--button-minSize);
    height: var(--button-minSize);

    color: var(--_clr);
    background-color: var(--_clr-background);
    border: solid var(--border-width) var(--_clr-border);
    border-radius: 200px;

    transition: background-color var(--trans-normal) ease,
                border-color var(--trans-normal) ease;
    
    &:hover {
        --_clr: var(--clr-1000);
        --_clr-border: var(--clr-350);
    }

    &:active {
        --_clr: var(--clr-1000);
        --_clr-background: var(--clr-0);
        --_clr-border: var(--clr-600);
    }

    &:disabled {
        --_clr: var(--clr-500);
        --_clr-background: var(--clr-100);
        --_clr-border: var(--clr-150);

        cursor: not-allowed;
    }
}

.visuallyHidden {
    position: absolute;
    white-space: nowrap;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;

    padding: 0;
    border: 0;
    margin: 0;

    overflow: hidden;
}